
@{
    ViewBag.Title = "404 Error";
}
<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error : </h4>
    <hr />
    <h5>Employee with your search details cannot found  </h5>
</div>
<div class="mt-3">
    <a asp-action="index" asp-controller="home" class="btn-lg btn-outline-primary mt-3">
        Click here to see the list of all employees
    </a>
</div>