@{
    Layout = "_Layout1";
    ViewBag.Title = "Wrong Credentials";
}

<div role="alertdialog">
    <div class="alert alert-danger mt-1 mb-1">
        <h4>Wrong Credential : </h4>
        <hr />
        <h5>Please Enter valid User Id and Password.</h5>
    </div>
    <div class="mt-3">
        <span class="text-xxl-start">Click here to Login again</span>
        <a asp-action="Login" asp-controller="home" style="text-decoration:none">
           Login
        </a>
        
    </div>
</div>